# Auto detect text files and perform LF normalization
* text=auto

*.php linguist-detectable=true
*.sql linguist-detectable=true
*.css linguist-detectable=true
*.jpg linguist-detectable=false
*.pdf linguist-detectable=false
*.zip linguist-detectable=false
